doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='x-apple-disable-message-reformatting')
    title Reset Password | Finball
    style.
      html,
      body {
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
      }
      * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      }
      div[style*="margin: 16px 0"] {
      margin: 0 !important;
      }
      table,
      td {
      mso-table-lspace: 0pt !important;
      mso-table-rspace: 0pt !important;
      }
      table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      table-layout: fixed !important;
      margin: 0 auto !important;
      }
      table table table {
      table-layout: auto;
      }
      img {
      -ms-interpolation-mode: bicubic;
      }
      *[x-apple-data-detectors],
      .x-gmail-data-detectors,
      .x-gmail-data-detectors *,
      .aBn {
      border-bottom: 0 !important;
      cursor: default !important;
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      }
      .a6S {
      display: none !important;
      opacity: 0.01 !important;
      }
      img.g-img+div {
      display: none !important;
      }
      .button-link {
      text-decoration: none !important;
      }
      @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
      .email-container {
      min-width: 375px !important;
      }
      }
      @media screen and (max-width: 480px) {
      div>u~div .gmail {
      min-width: 100vw;
      }
      }
    style.
      .button-td,
      .button-a {
      transition: all 100ms ease-in;
      }
      .button-td:hover,
      .button-a:hover {
      background: #555555 !important;
      border-color: #555555 !important;
      }
      @media screen and (max-width: 600px) {
      .email-container {
      width: 100% !important;
      margin: auto !important;
      }
      .fluid {
      max-width: 100% !important;
      height: auto !important;
      margin-left: auto !important;
      margin-right: auto !important;
      }
      .stack-column,
      .stack-column-center {
      display: block !important;
      width: 100% !important;
      max-width: 100% !important;
      direction: ltr !important;
      }
      .stack-column-center {
      text-align: center !important;
      }
      .center-on-narrow {
      text-align: center !important;
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
      float: none !important;
      }
      table.center-on-narrow {
      display: inline-block !important;
      }
      .email-container p {
      font-size: 17px !important;
      }
      }
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  body(width='100%', bgcolor='#222222', style='margin: 0; mso-line-height-rule: exactly;')
    center(style='width: 100%; background: #222222; text-align: left;')
      div(style='display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;')
        | Reset your Password for Finball App.
      table.email-container(role='presentation', cellspacing='0', cellpadding='0', border='0', align='center', width='600', style='margin: auto;')
        tr
          td(bgcolor='#ffffff', align='center')
            img.g-img(src='https://pictr.com/images/2018/01/27/6a757c1a9bd33b839770608d16df9e39.jpg', width='600', height='', alt='alt_text', border='0', align='center', style='width: 100%; max-width: 600px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;')
        tr
          td(bgcolor='#ffffff', style='padding: 40px 40px 20px; text-align: center;')
            h1(style='margin: 0; font-family: sans-serif; font-size: 24px; line-height: 125%; color: #333333; font-weight: normal;') Reset Your Password.
        tr
          td(bgcolor='#ffffff', style='padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; text-align: center;')
            p(style='margin: 0;')
              | Hello #{user.get('username')}, You have requested to reset your password. Please kindly click the button below to reset your password.
        tr
          td(bgcolor='#ffffff', style='padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;')
            // Button : BEGIN
            table(role='presentation', cellspacing='0', cellpadding='0', border='0', align='center', style='margin: auto')
              tr
                td.button-td(style='border-radius: 3px; background: #006FA7; text-align: center;')
                  a.button-a(href='#{link}', style='background: #006FA7; border: 15px solid #006FA7; font-family: sans-serif; font-size: 13px; line-height: 110%; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;')
                    span(style='color:#ffffff;') RESET
        tr
          td(aria-hidden='true', height='40', style='font-size: 0; line-height: 0;')
        tr
          td(bgcolor='#ffffff')
            table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%')
              tr
                td(style='padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;')
                  | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis
                  | ut velit pretium lobortis rhoncus ut erat.
      table(role='presentation', cellspacing='0', cellpadding='0', border='0', align='center', width='100%', style='max-width: 680px; font-family: sans-serif; color: #888888; font-size: 12px; line-height: 140%;')
        tr
          td.x-gmail-data-detectors(style='padding: 40px 10px; width: 100%; font-family: sans-serif; font-size: 12px; line-height: 140%; text-align: center; color: #888888;')
            webversion(style='color: #cccccc; text-decoration: underline; font-weight: bold;') View as a Web Page
            br
            br
            |  Finball
            br
            | 4th Floor, Salarpuria Tower -1, No. 22, Industrial Layout, Landmark: Forum Mall, Hosur Road, Koramangala, Bengaluru, Karnataka 560095
            br
            | (000) 000-0000
            br
            br
            unsubscribe(style='color: #888888; text-decoration: underline;') unsubscribe
